<header class="bg-white shadow-lg sticky top-0 z-50">
    <nav class="container mx-auto flex items-center justify-between py-4 px-6">
        <!-- Logo Image -->
        <a href="/#home" class="scroll-link">
            <img src="~/images/image.png" alt="PrimeStock Enterprises Logo" class="h-12">
        </a>
        
        <!-- Centered Navigation Items -->
        <ul class="flex space-x-8 text-gray-800 ml-12">
            <li>
                <a href="/#about" class="scroll-link hover:text-indigo-600 font-semibold transition duration-300">About</a>
            </li>
            <li>
                <a href="/#service" class="scroll-link hover:text-indigo-600 font-semibold transition duration-300">Service</a>
            </li>
            <li>
                <a href="/#contact" class="scroll-link hover:text-indigo-600 font-semibold transition duration-300">Contact</a>
            </li>
        </ul>

        <!-- Auth Buttons -->
        <div class="flex space-x-2">
            <a class="text-indigo-600 font-semibold hover:text-white border border-indigo-600 py-2 px-4 rounded-full hover:bg-indigo-600 transition duration-300" asp-area="" asp-controller="" asp-action="SignIn">Sign In</a>
            <a class="text-indigo-600 font-semibold hover:text-white border border-indigo-600 py-2 px-4 rounded-full hover:bg-indigo-600 transition duration-300" asp-area="" asp-controller="" asp-action="SignUp">Sign Up</a>
        </div>
    </nav>
</header>
